#flipbook .page {
    background-color: white;
    text-align: center;
    font-size: 24px;
}

.flipbook-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%; /* Adjust the height as needed */
}

#prev-button, #next-button {
    background-color: #f2f2f2;
    border: 1px solid #d3d3d3;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    margin: 10px;
}
#prev-button:hover, #next-button:hover {
    background-color: #e9e9e9;
}

.page iframe {
    width: 500px;
    height: 800px;
}